*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sbarrato{
    text-decoration: line-through;
}
main{
    background-color: rgb(1, 91, 1);
    height: 100vh;
}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgba(1, 91, 1, 0.407);
}
li{
    cursor: pointer;
}